{% extends 'base.html' %}
{% load static %}
{% block head_extra %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/event-detail.css' %}">
{% endblock %}
{% endblock %}

{% block content %}
    <main class="flex-1 p-6">
        <div class="event-detail-card">
            <div class="event-image" style="background-image: url('');"></div>
            <div class="event-content">
                <div class="event-title" id="eventName">Název události</div>
                <div class="event-info" id="eventDate">Datum a čas</div>
                <div class="event-info" id="eventLocation">Místo konání</div>
                <div class="event-info" id="eventDescription">Popis události</div>
                <div id="eventMap" style="height: 400px; width: 100%;"></div>
                <div class="actions">
                    <button id="join-event-btn" class="btn btn-blue">Přihlásit se k události</button>
                    <button id="edit-event-btn" class="btn btn-green">Upravit událost</button>
                    <button id="delete-event-btn" class="btn btn-red">Smazat událost</button>
                    <a href="{% url 'cancel_participation' event_id=event.id %}" class="btn btn-purple">Zrušit účast</a>
                </div>
                <ul class="participants-list" id="participants-list">
                    <!-- Účastníci budou přidáni dynamicky -->
                </ul>
            </div>
        </div>
    </main>
{% endblock %}

{% block extra_scripts %}
<script src="{% static 'js/event-detail.js' %}" defer></script>
{% endblock %}



