{% extends 'base.html' %}



{% block head_extra %}
<style>

.profile-card {
    max-width: 1500px;
    padding: 20px;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    margin-right: auto; /* Zarovná kartu vlevo */
    margin-left: 0; /* Odstup od levé strany */
}

.profile-info {
    flex-grow: 1;
}

.profile-page-pic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 20px; /* Přidává prostor mezi textem a obrázkem */
}
</style>
{% endblock %}
{% block content %}
<div class="flex flex-col md:flex-row p-6">
    <div class="md:flex-1 md:mr-4">
        <div class="bg-white shadow rounded-lg p-4">
            <div class="flex items-center">
                {% if user.profile_pic %}
                <img class="h-24 w-24 rounded-full object-cover mr-4" src="{{ user.profile_pic.url }}" alt="Profilový obrázek">
                {% else %}
                <img class="h-24 w-24 rounded-full object-cover mr-4" src="https://via.placeholder.com/150" alt="Profilový obrázek">
                {% endif %}
                <div>
                    <h2 class="text-xl font-semibold">{{ user.username }}</h2>
                    <p class="text-gray-600">{{ user.email }}</p>
                    <p class="text-gray-600">Biografie: {{ user.bio }}</p>
                    <p class="text-gray-600">Datum narození: {{ user.birth_date|date:"d. m. Y" }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-4 md:mt-0 md:flex-1 md:ml-4">
        <div class="bg-white shadow rounded-lg p-4">
            <h3 class="text-lg font-semibold mb-4">Akce</h3>
            <a href="{% url 'edit_profile' %}" class="block text-center bg-blue-500 text-white py-2 rounded hover:bg-blue-600 transition-colors duration-150">
                Upravit profil
            </a>
            <a href="{% url 'change_password' %}" class="block text-center bg-green-500 text-white py-2 rounded hover:bg-green-600 transition-colors duration-150 mt-2">
                Změnit heslo
            </a>
        </div>
    </div>
</div>
{% endblock %}