{% extends 'base.html' %}
{% load static %}
{% block head_extra %}
{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}
{% block content %}
<div class="flex flex-col md:flex-row p-6">
    <!-- Profilová informační dlaždice -->
    <div class="md:flex-1 md:mr-4">
        <div class="bg-white shadow rounded-lg p-4">
            <div class="flex items-center">
                {% if user.profile_pic %}
                <img class="h-24 w-24 rounded-full object-cover mr-4" src="{{ user.profile_pic.url }}" alt="Profilový obrázek">
                {% else %}
                <img class="h-24 w-24 rounded-full object-cover mr-4" src="https://via.placeholder.com/150" alt="Profilový obrázek">
                {% endif %}
                <div>
                    <h2 class="text-xl font-semibold">{{ user.username }}</h2>
                    <p class="text-gray-600">{{ user.email }}</p>
                    <p class="text-gray-600">Biografie: {{ user.bio }}</p>
                    <p class="text-gray-600">Datum narození: {{ user.birth_date|date:"d. m. Y" }}</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Akce (Upravit profil, Změnit heslo) -->
    <div class="mt-4 md:mt-0 md:flex-1 md:ml-4">
        <div class="bg-white shadow rounded-lg p-4">
            <h3 class="text-lg font-semibold mb-4">Akce</h3>
            <a href="{% url 'edit_profile' %}" class="block text-center bg-blue-500 text-white py-2 rounded hover:bg-blue-600 transition-colors duration-150">
                Upravit profil
            </a>
            <a href="{% url 'change_password' %}" class="block text-center bg-green-500 text-white py-2 rounded hover:bg-green-600 transition-colors duration-150 mt-2">
                Změnit heslo
            </a>
        </div>
    </div>
</div>

<!-- Založené události -->
<div class="p-6">
    <div class="bg-white shadow rounded-lg p-4">
        <h3 class="text-lg font-semibold mb-4">Moje události</h3>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
            {% for event in user_events %}
            <!-- Každá dlaždice události je nyní odkaz -->
            <a href="{% url 'event-detail' event.id %}" class="event-card bg-cover bg-center h-32 rounded-lg shadow-md" style="background-image: url('{{ event.image.url }}');">
                <div class="p-1 bg-white bg-opacity-90 rounded-lg">
                    <h4 class="text-md font-semibold">{{ event.nazev }}</h4>
                    <p class="text-gray-600">{{ event.datum_konani|date:"d. m. Y H:i" }}</p>
                    <p class="text-gray-600">{{ event.misto }}</p>
                </div>
            </a>
            {% empty %}
            <p>Nemáte žádné založené události.</p>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
