.event-detail-card {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    overflow: hidden;
    margin-bottom: 20px;
}

.event-image {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
}

.event-content {
    padding: 20px;
}

.event-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.event-info {
    margin-bottom: 10px;
    color: #666;
}

.actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.btn {
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    text-align: center;
    width: calc(33.333% - 10px);
    font-size: 14px;
}

.btn-blue {
    background-color: #007bff;
}

.btn-green {
    background-color: #28a745;
}

.btn-red {
    background-color: #dc3545;
}

.btn-purple {
    background-color: purple;
}

@media (max-width: 768px) {
    .actions {
        flex-direction: column;
    }

    .btn {
        width: 100%;
        margin-bottom: 10px;
    }

    .btn:last-child {
        margin-bottom: 0;
    }
}

.participants-list {
    list-style: none;
    padding-left: 0;
    margin-top: 20px;
    list-style: none;
    padding: 0;
}

.participants-list li {
    border-bottom: 1px solid #eee;
    padding: 10px 0;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
}

.participants-list li:last-child {
    border-bottom: none;
}



.participant-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
}

.participant-name {
    font-weight: bold;
}