        @media screen and (max-width: 768px) {
            .sidebar {
                display: none;
            }

            .top-bar__title {
                text-align: center;
                width: 100%;
            }
        }

        .hamburger-menu {
            display: none;
            cursor: pointer;
            font-size: 24px;
            color: white;
        }

        .top-bar {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 1rem;
            background-color: black;
            box-shadow: 0 2px 4px rgba(0,0,0,0.1);
            border-bottom: 2px solid gray;
        }

        .top-bar__title {
            margin-left: 1rem;
            font-family: 'Montserrat', sans-serif;
            color: white;
            font-size: 2rem; /* Zvětšení velikosti písma */
            font-weight: 700; /* Tučné písmo */
            text-shadow: 10px 8px 8px rgba(0, 0, 0, 0.5); /* Přidání stínu pro lepší čitelnost */
        }

        .user-name {
            color: red;
        }

        .user-info {
            display: flex;
            align-items: center;
        }

        .profile-pic {
            width: 40px; /* Nastavte požadovanou šířku */
            height: 40px; /* Nastavte požadovanou výšku */
            border-radius: 50%; /* Kulatý tvar */
            margin-right: 10px; /* Odstup od jména */
            object-fit: cover; /* Udržuje poměr stran fotky */
        }
        @media (max-width: 600px) { /* Přizpůsobte breakpoint podle vašich potřeb */
            .user-name {
                display: none; /* Skryje uživatelské jméno na malých obrazovkách */
            }
        }
        @media screen and (max-width: 768px) {
            .hamburger-menu {
                display: block;
            }

            .top-bar__title {
                margin-left: 0;
            }
        }
        .sidebar a {
            color: white;
            text-decoration: none;
            transition: color 0.3s ease;
        }

        .sidebar a:hover {
            color: #60A5FA; /* Změna barvy při najetí myši */
        }


        /* Tlačítka */
        .btn-primary {
            background-color: #2563EB;
            color: white;
            border: none;
            padding: 8px 16px;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .btn-primary:hover {
            background-color: #1D4ED8;
        }

        .form-container {
        max-width: 100px; /* nebo jakákoliv jiná maximální šířka podle vašich potřeb */
        width: 100%;
        padding: 20px; /* snižte padding pro zmenšení celkové výšky */
        background: red;
        border-radius: 8px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        margin-top: 20px; /* přidat horní margin pro odsazení od horní části stránky nebo prvku nad ním */
        margin-bottom: 20px; /* přidat spodní margin pro odsazení od spodní části stránky nebo prvku pod ním */
        }

        /* Styly pro modální okno */
.createEventModal {
    display: none;
    position: fixed;
    inset: 0;
    background-color: rgba(75, 85, 99, 0.6); /* bg-gray-600 bg-opacity-50 */
    overflow-y: auto;
    width: 100%;
    height: 100%;
}

.createEventModalContent {
    position: relative;
    top: 5rem; /* top-20 */
    margin: auto;
    padding: 1.25rem; /* p-5 */
    width: 50%; /* w-96 */
    background-color: white; /* bg-white */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 0.375rem; /* rounded-md */
}

/* Styly pro mapu */
.mapContainer {
    width: 100%;
    height: 200px;
    margin-top: 1rem; /* mt-4 */
}

/* Příklad stylování pro formu a tlačítka */
.formInput {
    margin-top: 0.5rem; /* mt-2 */
    border: 1px solid #e5e7eb; /* border + color */
    border-radius: 0.375rem; /* rounded */
    padding: 0.5rem 0.75rem; /* px-2 py-1 */
    width: 100%; /* w-full */
}

.formButton {
    margin-top: 1rem; /* mt-4 */
    background-color: #3b82f6; /* bg-blue-500 */
    color: white;
    padding: 0.5rem 1rem; /* px-4 py-2 */
    border-radius: 0.375rem; /* rounded */
    border: none;
}

.formButton:hover {
    background-color: #2563eb; /* hover:bg-blue-700 */
}

