<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Úvodní Stránka</title>
</head>
<body>

<h1 id="welcome-text">Vítej na Úvodní Stránce</h1>

<p>{% if user.is_authenticated %}
    <p>Jste přihlášen jako uživatel "{{ user.email }}".</p>
    <a href="{% url 'logout_and_redirect' %}">Odhlásit se a přesměrovat na registraci</a>
{% else %}
    <p>Nejste přihlášen.</p>
    <a href="{% url 'register' %}">Přihlásit se</a>
{% endif %}</p>

<button id="find-button">Najít spoluhráče</button>

</body>
</html>

<script src="{% static 'js/main.js' %}"></script>
